/* Font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}


.background-color {
    background-color: #000000;
    max-width: 1440px;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.max-width {
    max-width: 1060px;
}

.btn-primary {
    background-color: #E6533C;
    color: #ffffff;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    width: 225px;
    height: 55px;
}

.text-primary-color {
    color: rgba(255, 255, 255, 0.5);

}

.h1-margin {
    margin: 0px;
}
.h1-shared{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
}



/* Nav related styles */

.header-container{
    background-image: linear-gradient( black, rgba(255, 255, 255, 0.3),black);
    background-size: 100% 1000px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  

}

.nav-bar {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
}

.nav-item-div {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    width: 465px;

}

.nav-item {
    color: #ffffff;
    list-style: none;
    gap: 47px;
    padding-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.nav-list {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 14px 0px;
}

.nav-list-btn {
    background-color: #E6533C;
    color: #ffffff;
    text-align: center;
    border-radius: 46px;
    padding: 8px 25px;
    margin: 2px 0px;
}

/* Banner related styles */

.banner-container {
    margin: 0 auto;
    width: 1060px;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
}

.banner-title {
    color: #ffffff;
    font-size: 4.875rem;
}

.banner-img {
    width: 350px;
    height: 580px;
}

.download-btn {
    border: 1px solid white;
    background-color: transparent;
}

.banner-card1 {
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 205px;
    height: 95px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2px;
    margin-left: -120px;
    margin-top: -140px;

}

.banner-card-circle {
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.banner-card2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 205px;
    height: 95px;
    margin-left: 1130px;
    margin-top: -420px;
    text-align: center;
    align-content: center;
}

/* Change habit section related styles */

.change-habit-container {
    margin: 0 auto;
    margin-top: 420px;
    width: 1060px;
    justify-items: center;
}
.change-habit-text{
    text-align: center;
    justify-content: center;
    max-width: 670px;
}
.change-habit-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 60px;
}
.cng-img-card{
    width: 180px;
    height: 180px;
    text-align: center;
}
.change-ig{
    border-radius: 50%;
}
.change-img-title{
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
}
.change-img-text{
    font-weight: 300;
    font-size: 14px;
}

/* Run extra section related styles */

.run-extra-section{
    background-color: rgba(34, 34, 34, 1);
    max-width: 1060px;
    border-radius: 18px;
    display: flex;
    margin: 0 auto;
    margin-top: 170px;
    gap: 100px;
}
.run-extra-content{
    padding: 0 30px;
}
.run-img{
    width: 365px;
    height: 312px;
    padding: 30px;
    border-radius: 50px;
}



/* MediaQuery related code */

@media(max-width: 576px) {
    .hamburger {
        width: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        height: 20px;
    }
    .hamburger span {
        display: block;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        transition: 0.3s;
      }

    .nav-bar,
    .banner-container {
        width: 100%;
    }
    .nav-item-div{
        border:none;
    }

    .nav-item{
        display: none;
        flex-direction: column;
    }
    #toggle:checked ~ .nav-item {
        display: block;
      }    

    .banner-container {
        flex-direction: column;
        gap: 30px;
    }

    .banner-img {
        margin-left: 50px;
        width: 350px;
        height: 580px;
    }

    .banner-card1 {
        margin-left: 0px;
        margin-top: -330px;
    }

    .banner-card2 {
        margin-left: 200px;
        margin-top: -170px;
    }
    .change-habit-container{
        width: 100%;
        padding-top: 40px;
    }
    .change-habit-text{
        width: 100%;
    }
    .change-habit-card{
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
    .run-extra-section{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
    .run-img{
        width: 285px;
        height: 170px;
        margin: 0 auto;

        border-radius: 50px;
    }

    
}